img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  color: #333;
}

p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  color: #ae1717;
}

.Pochette {
  border: 2px solid #000000;
  padding: 10px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 25px;
}

.albumimage {
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 30%;
  height: auto;

}


